.body{
    margin: auto;
    
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 10rem 1fr 10rem ;
    max-width: 136rem;
}

/*telefono3*/
@media only screen and (max-width:720px){

    .body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10rem auto 1fr 10rem ;
    }
}



